<h1>Listing employees</h1>

<table>
  <tr>
    <th>Employee firstname</th>
    <th>Employee lastname</th>
    <th>Branch</th>
    <th>Employee dateemployed</th>
    <th>Job</th>
    <th>Department</th>
    <th>Employee birthday</th>
    <th>Employee age</th>
    <th>Employee contactnumber</th>
    <th>Employee sss</th>
    <th>Employee tin</th>
    <th>Employee address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.employee_firstName %></td>
    <td><%= employee.employee_lastName %></td>
    <td><%= employee.branch_id %></td>
    <td><%= employee.employee_dateEmployed %></td>
    <td><%= employee.job_id %></td>
    <td><%= employee.department_id %></td>
    <td><%= employee.employee_birthday %></td>
    <td><%= employee.employee_age %></td>
    <td><%= employee.employee_contactNumber %></td>
    <td><%= employee.employee_sss %></td>
    <td><%= employee.employee_tin %></td>
    <td><%= employee.employee_address %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
