<%= form_for(@categorysale) do |f| %>
  <% if @categorysale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorysale.errors.count, "error") %> prohibited this categorysale from being saved:</h2>
      <ul>
      <% @categorysale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table width="190" border="0">
<tr>
    <td><%= f.label "Server Name" %></td>
    <td><%= collection_select('categorysale','employee_id',Employee.all.collect,'id','employee_firstName') %></td>
</table>
  <br />
  <br />
  
<table width="700" border="0">
  <tr>
    <td><%= f.label :date %></td>
    <td><%= text_field_tag :date %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><%= f.label "food" %></td>
    <td><%= text_field_tag :food %></td>
    <td><%= f.label "VAT" %></td>
    <td><%= text_field_tag :vat %></td>
  </tr>
  <tr>
    <td><%= f.label "beverages" %></td>
    <td><%= text_field_tag :beverages %></td>
    <td><%= f.label "VOID" %></td>
    <td><%= text_field_tag :void %></td>
  </tr>
  <tr>
    <td><%= f.label "liquor" %></td>
    <td><%= text_field_tag :liquor %></td>
    <td><%= f.label "Service Charge" %></td>
    <td><%= text_field_tag :servicecharge %></td>
  </tr>
  <tr>
    <td><%= f.label "TOTAL" %></td>
    <td><%= text_field_tag :cs_amount %></td>
    <td><%= f.label "Total Revenue" %></td>
    <td><%= text_field_tag :cs_revenue %></td>
  </tr>
  <tr>
    <td><%= f.label "Customer Count" %></td>
    <td><%= text_field_tag :customer_count %></td>
    <td><%= f.label "Transaction Count" %></td>
    <td><%= text_field_tag :transaction_count %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= f.submit  " Create Category Sales " %></td>
  </tr>
</table>

<% end %>
