<%= form_for(@categorysale) do |f| %>
  <% if @categorysale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorysale.errors.count, "error") %> prohibited this categorysale from being saved:</h2>
      <ul>
      <% @categorysale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= text_field_tag :date %>
  </div>
  
  <div class="field">
    <%= f.label "Server Name" %><br />
  	<%= collection_select('categorysale','employee_id',Employee.all.collect,'id','employee_firstName') %>
  </div>
  
  <div class="field">
   <%= f.label "food" %><br />
   <%= text_field_tag :food %>
   </div>
  
  <div class="field">
   <%= f.label "liquor" %><br />
   <%= text_field_tag :liquor %>
   </div>
   
   <div class="field">
   <%= f.label "beverages" %><br />
   <%= text_field_tag :beverages %>
   </div>
   <!--<%= collection_select('categorysale','category_id',Category.all.collect,'id','category_name') %>-->
  
  <div class="field">
    <%= f.label "Total Amount" %><br />
    <%= text_field_tag :cs_amount %>
  </div>
    
  <div class="field">
    <%= f.label "Total Revenue" %><br />
    <%= text_field_tag :cs_revenue %>
  </div>
  
  <div class="field">
    <%= f.label "Customer Count" %><br />
    <%= text_field_tag :customer_count %>
  </div>
  <div class="field">
    <%= f.label "Transaction Count" %><br />
    <%= text_field_tag :transaction_count %>
  </div>
  <div class="field">
    <%= f.label "VAT" %><br />
    <%= text_field_tag :vat %>
  </div>
  <div class="field">
    <%= f.label "VOID" %><br />
    <%= text_field_tag :void %>
  </div>
  <div class="field">
    <%= f.label "Service Charge" %><br />
    <%= text_field_tag :servicecharge %>
  </div>	  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
