<%= form_for(@categorysale) do |f| %>
  <% if @categorysale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorysale.errors.count, "error") %> prohibited this categorysale from being saved:</h2>

      <ul>
      <% @categorysale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--
  <table>
  	<tr>
  		<th>Amount</th>
  		<th>Category</th>
  		<th>Employee</th>
  		<th>VAT</th>
  		<th>VOID</th>
  		<th>Service Charge</th>
  		<th>Total</th>
  	</tr>
  	<tr>
  		<td><%= f.text_field :cs_amount %></td>
  		<td><%= f.text_field :category_id %></td>
  		<td><%= f.text_field :employee_id %></td>
  		<td><%= f.text_field :vat %></td>
  		<td><%= f.text_field :void %></td>
  		<td><%= f.text_field :servicecharge %></td>
  		<td><%= f.text_field :cs_revenue %></td>
  	</tr>
  </table>
  
  <div class="field">
    <%= f.label "Date" %><br />
    <%= f.text_field :date %>
  </div>-->
  <div class="field">
    <%= f.label "Server Name" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Food" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Beverage" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Liquor" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Total" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Customer" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label "Amount" %><br />
    <%= f.text_field :cs_amount %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label "VAT" %><br />
    <%= f.text_field :vat %>
  </div>
  <div class="field">
    <%= f.label "VOID" %><br />
    <%= f.text_field :void %>
  </div>
  <div class="field">
    <%= f.label "Service Charge" %><br />
    <%= f.text_field :servicecharge %>
  </div>
  <div class="field">
    <%= f.label "Total" %><br />
    <%= f.text_field :cs_revenue %>
  </div>
	  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
