<%= form_for(@purchase_item) do |f| %>
  <% if @purchase_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_item.errors.count, "error") %> prohibited this purchase_item from being saved:</h2>

      <ul>
      <% @purchase_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
	<td>
	<table>
		<tr>
		  <div class="field">
			<td><%= f.label :purchase_date %></td>	
			<td><%= f.text_field :purchase_date %></td>
		  </div>
		<tr>
		<tr>
		  <div class="field">
			<td><%= f.label :invoice_id %></td>	
			<td><%= f.text_field :invoice_id %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :supplier_id %></td>		
			<td><%= f.text_field :supplier_id %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :branch_id %></td>	
			<td><%= f.select :branch_id, options_for_select([["Ortigas", "1"], ["Greenbelt", "2"]]) %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :purchase_item %></td>	
			<td><%= f.text_field :purchase_item %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :inventory_id %></td>	
			<td><%= f.text_field :inventory_id %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :purchase_unitCost %></td>	
			<td><%= f.text_field :purchase_unitCost %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :purchase_quantity %></td>	
			<td><%= f.text_field :purchase_quantity %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :unit_id %></td>		
			<td><%= f.text_field :unit_id %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :purchase_amount %></td>		
			<td><%= f.text_field :purchase_amount %></td>
		  </div>
		</tr>
		</table>
	</td>
	<td>
		<table>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
		  <div class="form_row">
			<td><%= f.label :vat_amount %></td>
			<td><%= f.radio_button :vat_type, "VAT Exempted" %>VAT Exempted</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= f.radio_button :vat_type, "VAT Exempted" %>VAT Inclusive</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= f.radio_button :vat_type, "VAT Exempted" %>VAT Exclusive</td>
			</tr>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :vat_amount %></td>	
			<td><%= f.text_field :vat_amount %></td>
		  </div>
		</tr>
		<tr>
		  <div class="field">
			<td><%= f.label :net_amount %></td>	
			<td><%= f.text_field :net_amount %></td>
		  </div>  
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
		  <div class="actions">
			<td><%= f.submit %></td>
		  </div>
		</tr>
		</table>
	</td>
	</tr>
</table>
<% end %>
