<div class="left"> 
<h2><a href="#">SALES BY SETTLEMENT TYPE</a></h2>
<hr />
<br/>
<% form_tag '/categorysales/search' do %>
<table width="500" border="0">
  <tr>
    <td>From:</td>
    <td><%= date_select(:start, '', :start_year => 2010) %></td>
    <td><%= label_tag :restaurant %></td>
    <td><%= text_field_tag :restaurant  %></td>
  </tr>
  <tr>
    <td>To:</td>
    <td><%= date_select(:end, '', :start_year => 2010) %></td>
    <td><%= label_tag :branch %></td>
    <td><%= text_field_tag :branch  %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= submit_tag "Search" %></td>
  <% end %>
  </tr>
</table>
<br/>
</div>

<div class="right">
<strong>Change View: </strong>
<br />
<!--
<select>
  <option>Sales by Category</option>
  <option>Sales by Settlement Type</option>
  <option>Sales by Server:</option>
  <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Category</option>
  <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settlement Type</option>
</select>-->
<%= link_to 'Sales by Category Type', categorysales_path %><br />
<%= link_to 'Sales by Settlement Type', settlement_sales_path %>
</div>
<div style="clear:both;"></div>

<hr />
<h2><a href="#">Listing Sales by Settlement Type</a></h2>
<br/>
<table>
  <tr>
    <th>Date</th>
    <% @settlement_types.each do |settlement_type| %>
    <th><%= settlement_type.st_name %><th>
    <% end %>
    <th>VOIDS</th>
    <th>GROSS TOTAL</th>
    <th>NET TOTAL</th>
    <th></th>
  </tr>

<% @settlement_sales.each do |settlement_sale| %>
  <tr>
    <td><%= settlement_sale.ss_amount %></td>
    <td><%= settlement_sale.st_id %></td>
    <td><%= settlement_sale.stemployee_id %></td>
    <td><%= settlement_sale.vat %></td>
    <td><%= settlement_sale.void %></td>
    <td><%= settlement_sale.ss_date %></td>
    <td><%= settlement_sale.ss_revenue %></td>
    <td><%= settlement_sale.customerCount %></td>
    <td><%= settlement_sale.transactionCount %></td>
    <td><%= link_to 'Edit', edit_settlement_sale_path(settlement_sale) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Settlement sale', new_settlement_sale_path %>
