<h1>Listing ssrows</h1>

<table>
  <tr>
    <th>St</th>
    <th>Ss amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ssrows.each do |ssrow| %>
  <tr>
    <td><%= ssrow.st_id %></td>
    <td><%= ssrow.ss_amount %></td>
    <td><%= link_to 'Show', ssrow %></td>
    <td><%= link_to 'Edit', edit_ssrow_path(ssrow) %></td>
    <td><%= link_to 'Destroy', ssrow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ssrow', new_ssrow_path %>
